
@{
    ViewBag.Title = "AboutMe";
}

<h1>About Chloe</h1>
<h2>A segment about me</h2>

<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8">
            <h2>Biography</h2>
            <p>
                Chloe Brand is a student at the University of Pretoria who is studying Information Systems. She currently resides in Lynwood Ridge where she does daily commutes to school. Chloe graduated high school in 2018 at Abbotts College Pretoria East. The following year she took a gap year while she worked with her mother at her accounting firm. The reason why she took a gap year was due to uncertainty about her professional career until she discovered an interest in information technology which she enrolled in the year 2021. Besides working with her mother at her accounting firm, she had also worked in catering and had done au pairing.
                The activities that she enjoys partaking in her free time is reading, cooking, drawing, playing the piano and editing.
                Chloe aims to get her degree in information systems and aspires to be a business owner with any opportunity that arises, as she does not want to limit herself when it comes to the technology industry.
                Chloe is always up for a challenge and is determined to achieve her goals no matter the time it will take.
                Connect with Chloe:
                Email: chloetjbrand@gmail.com
            </p>
        </div>
        <div class="col-lg-4">
            <h3>Chloe</h3>
            
            <img src="~/Content/Images/WhatsApp Image 2022-04-28 at 3.14.36 PM.jpeg" height="350" width="350" />
        </div>
    </div>
</div>

