
@model List<U19221887_HW3.Models.FileModel>

@{
    ViewBag.Title = "Files";
}

<h1>Document of any File Type</h1>
<h5>........"Media/Documents/" folder</h5>
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <table class="table">
                <thead>
                    <tr style="background-color:black;color:white">
                        <th>File Name </th>
                        <th>Download Option </th>
                        <th>Delete Option </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ReceiveFile in Model)
                    {
                    <tr>
                        <td>@ReceiveFile.FileName</td>
                        <td><button class="btn btn-success" onclick="window.location.href='@Url.Action("DownloadFile","Media", new { fileName = ReceiveFile.FileName})'">Download</button></td>
                        <td><button class="btn btn-danger"onclick="window.location.href='@Url.Action("DeleteFile","Media", new { fileName = ReceiveFile.FileName })'">Delete</button></td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


